body {
  background-color: #eeeeee;
}
hr {
  border-style: dotted none none none;
  width: 5%;
  border-color: grey;
  border-width: 5px;
}
img {
  height: 150px;
  border-radius: 50%;
}
h1,h3{
    color: #71c9ce;
}